[submodule "vim-less"]
	path = vim/janus.symlink/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim/janus.symlink/vim-rvm"]
	path = vim/janus.symlink/vim-rvm
	url = git@github.com:tpope/vim-rvm.git
[submodule "vim/janus.symlink/vim-mac-classic-theme"]
	path = vim/janus.symlink/vim-mac-classic-theme
	url = git@github.com:nelstrom/vim-mac-classic-theme.git
[submodule "zsh/oh-my-zsh/custom/plugins/zsh-syntax-highlighting.symlink"]
	path = zsh/oh-my-zsh/custom/plugins/zsh-syntax-highlighting.symlink
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "vim/janus.symlink/vim-nerdtree-tabs"]
	path = vim/janus.symlink/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/janus.symlink/vim-tomorrow-theme"]
	path = vim/janus.symlink/vim-tomorrow-theme
	url = git@github.com:NSError/vim-tomorrow-theme.git
[submodule "vim/janus.symlink/scons"]
	path = vim/janus.symlink/scons
	url = git@github.com:vim-scripts/scons.vim.git
[submodule "vim/janus.symlink/scons-compiler-plugin"]
	path = vim/janus.symlink/scons-compiler-plugin
	url = git@github.com:vim-scripts/Scons-compiler-plugin.git
