[submodule "zsh/oh-my-zsh/custom/plugins/zsh-syntax-highlighting.symlink"]
	path = zsh/oh-my-zsh/custom/plugins/zsh-syntax-highlighting.symlink
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "vim/janus.symlink/vim-nerdtree-tabs"]
	path = vim/janus.symlink/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
